<!DOCTYPE html>
<html>
<html>
  <head>
    <title><%= author%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<h2> <%= author%></h2>
<img class="foto" src="images/tux.png" width="100" />
</body>
</html>
